// Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");

@import "~notosans-fontface/scss/notosans-fontface.scss";
// @import "~roboto-fontface/css/roboto/sass/roboto-fontface.scss";
// Variables
// @import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// .navbar-laravel {
//     background-color: #fff;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }

html,
body {
    background-color: purple;
    font-family: "Noto Sans", sans;
    font-size: 0.9rem;
    height: 100%;
    margin: 0;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row {
    width: auto;
}

@import "~@fortawesome/fontawesome-free/css/all.min.css";

// Datatables
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import "../jquery-datatable/jquery.dataTables.css";
// @import "../jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css";
@import "../jquery-datatable/extensions/dataTables.searchHighlight.css";
